{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "quotes": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "linebreak-style": "off",
    "eol-last": "off",
    "no-trailing-spaces": "off",
    "object-curly-spacing": "off",
    "no-unused-vars": "off",
    "operator-linebreak": "off",
    "padded-blocks": "off",
    "indent": "off",
    "comma-dangle": "off",
    "guard-for-in": "off",
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}